@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');body{height:100%;width:100%;background:url(/application/themes/ccintranet/assets/img/login/background.jpg) center no-repeat fixed;background-size:cover;margin:0 auto;text-align:center;min-width:408px;min-height:695px}.custom-login-panel header h1,.custom-login-panel main h2,.custom-login-panel main input[type=submit],.custom-login-panel main p{margin-left:20px;font-family:'Open Sans',sans-serif}.custom-login-panel .login-panel{width:90%;max-width:780px;display:inline-block;text-align:left;margin-top:50px;min-width:100px}.custom-login-panel header{width:100%;height:50px;background:#005393;border-radius:5px 5px 0 0}@media screen and (max-height:800px){.custom-login-panel .login-panel{margin-top:10px!important}}.custom-login-panel header h1{color:#fff;font-weight:400;font-size:26px;padding-top:6px}.custom-login-panel header a{text-decoration:none}.custom-login-panel .login-panel-main{width:100%}.custom-login-panel main{width:74%;float:left;height:540px;background:rgba(255,255,255,.9);border-radius:0 0 0 5px;line-height:20px}.custom-login-panel main h2{font-weight:300;font-size:36px;line-height:40px}.custom-login-panel main input[type=password],.custom-login-panel main input[type=text]{font-family:'Open Sans',sans-serif;width:82%;height:40px;border-radius:5px;border:none;padding-left:20px;padding-right:20px;font-size:17px;margin-left:20px}.custom-login-panel main input[type=submit]{width:90%;height:40px;border-radius:5px;border:none;background:#005393;color:#FFF;font-size:17px;margin-right:20px}a#loginerrormessage{display:none}.custom-login-panel nav{width:26%;background:rgba(255,255,255,.96);border-radius:0 0 5px;float:right;height:540px;max-width:215px}.custom-login-panel nav button{height:60px;width:100%;font-family:'Open Sans',sans-serif;font-weight:400;font-size:20px;border:none;background:rgba(255,255,255,.98)}.custom-login-panel button.current,button.button-on{background:#005393!important;color:#FFF}.custom-login-panel button#top-button{border-top:1px solid #FFF}.custom-login-panel nav .button-off{opacity:.3}.custom-login-panel nav .button-off:hover{opacity:1}.custom-login-panel nav button:focus{outline:0;-webkit-box-shadow:none;box-shadow:none}.custom-login-panel nav img{margin-top:80px;margin-right:auto;margin-left:auto;display:block}.custom-login-panel footer{width:100%;background:#FFF;border-top:10px solid #005393;position:absolute;min-height:50px;max-height:100px}.custom-login-panel footer p{margin-left:20%;font-family:'Open Sans',sans-serif;font-size:14px;float:left}@media screen and (max-width:650px){.custom-login-panel .login-panel{margin-top:10px!important}.custom-login-panel main{width:auto;height:370px;border-radius:0}.custom-login-panel button#bottom-button:hover,.custom-login-panel nav{border-radius:0 0 5px 5px}.custom-login-panel main h2{font-size:2em;margin-top:20px}.custom-login-panel main input[type=password],.custom-login-panel main input[type=text]{width:79%}.custom-login-panel nav{width:100%!important;height:420px;background:rgba(255,255,255,.96);max-width:660px}.custom-login-panel button#top-button{border-top:0}.custom-login-panel nav img{display:none}}        

ul.auth-types {
			display: inline-flex;
			margin-left: -20px;
		}
		ul.auth-types > li {
			list-style-type: none;
			cursor: pointer;
			padding-left: 25px;
			margin-bottom: 15px;
			transition: color .25s;
			position: relative;
			font-family:'Open Sans',sans-serif;
		}
		ul.auth-types > li:hover {
			color: #cfcfcf;
		}
		ul.auth-types > li.active {
			font-weight: bold;
			cursor: auto;
		}
		.authentication-types {
			margin: -20px;
		}
                @media screen and (max-width:650px){
                    .authentication-types {
                        display: none;
                    }
                }
		.main-content input[name="uName"], .main-content input[type="password"] {
			margin-bottom: 10px;
		}
		.login-page input.form-control {
			height: 40px;
			width: 82%;
			border-radius: 5px !important;
			background-clip: padding-box !important;
			background: #FFF !important;
			border: none;
			box-shadow: none;
			font-size: 15px;
			padding: 0px 10px 0px 20px;
			margin: 0px 0px 20px 20px;
			font-family:'Open Sans',sans-serif;
			font-size: 17px;
		}
		input.btn.btn-primary {
			width: 520px;
			margin-top: -30px;
		}
		li img {
			display: none;
		}
                .custom-login-panel main input[type=submit]:hover {
                    text-decoration: underline;
                }