[submodule "application/elements/theme/global/ResponsiveLoginDesign"]
	path = application/elements/theme/global/ResponsiveLoginDesign
	url = https://github.com/East-Kent-Partnership/ResponsiveLoginDesign
