application/config/*
application/bootstrap/*
application/files/*
application/languages/*
concrete/*
packages/*
updates/*
.htaccess
composer.json
composer.lock
index.php
LICENSE.TXT
robots.txt
sitemap.xml

dashboard/application/cache/*
dashboard/application/config/*
dashboard/application/controllers/index.html
dashboard/application/core/index.html
dashboard/application/helpers/index.html
dashboard/application/hooks/index.html
dashboard/application/language/*
dashboard/application/libraries/index.html
dashboard/application/logs/*
dashboard/application/models/index.html
dashboard/application/third_party/index.html
dashboard/application/views/index.html
dashboard/application/index.html
dashboard/system/*
dashboard/user_guides/*
.editorconfig
composer.json
contributing.md
index.php
license.txt
readme.rst
